body {
    background-color: rgb(47, 49, 54);
}

.navbar{
    padding: 0;
}

.list-content {
    width: 900px;
    margin: 0 auto;
}

.filters {
    width: 900px;
    margin: 1rem auto;
    margin-bottom: 5rem;
}

.container-fluid {
    display: flex;
    background-color: black;
    height: 100px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    justify-content: space-between !important;
    padding: 0 1rem;
}


.sort-form {
    display: flex;
}

.form-select{
    margin-right: .5rem;
}

h4 {
    color: white;
    font-size: 20px;
}


.upload-block {
    background-color: rgb(32, 34, 37);
    margin: 15px 0;
    border-radius: 15px;
}

.upload-block h3 {
    color: rgb(143, 146, 150);
    padding: 1rem 2rem;
    font-size: 24px;
}

.config-buttons {
    text-decoration: none;
    margin-top: -1rem;
}

.config-buttons a{
    margin-right: 1rem;
}


.list-content .navbar {
    background-color: rgb(47, 49, 54)!important;

}

.list-content .upload-block:hover {
     background-color: rgb(47, 49, 54);
     border: 2px solid rgb(32, 34, 37);
}

.sort-form select{
    margin-right: .5rem;
}

.page-buttons {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.page-buttons button {
    margin-right: 1.5rem;
}