.register-form {
    width: 600px;
    height: 520px;
    border-radius: 3px;
    padding: 2rem 5rem 5rem 5rem;
    margin: 4rem auto 0 auto;
    background-color: #d1d4d6;
    box-shadow: 0 0 1em #797d81;
}